/* Default styles */
.cartcontainer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    gap: 100px;
}

.top {
    display: flex;
    gap: 50px;
    margin: 0px 200px;
}

.related {
    margin: 0px 50px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}

.bottom {}

.cartcontainer h1 {
    text-align: left;
}

.detailsimgandbtn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.detailsimgandbtn img {
    margin-left: 30px;
    width: 350px;
    height: 400px;
}

.flexcontainer {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns {
    display: flex;
    gap: 40px;
    width: 100%;
}

.btns button {
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

.buynow {
    background-color: rgb(244, 51, 151);
}

.addtocart {
    background-color: #eee;
}

.ratingreviews {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.ratingreviews span {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

.selectsize {
    width: 100%;
}

.fulldetails {
    width: 100%;
}

.relatedproduct {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.cartcontainer1 {
    width: 300px;
}

.flex-item {
    display: flex;
    flex-direction: column;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 1024px) {
    .cartcontainer {
        margin: 10px;
        padding: 120px;
        gap: 20px;
    }

   

    .top {
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 20px;
    }

    .related {
        margin: 0;
    }

    .cartcontainer h1 {
        text-align: center;
        font-size: 25px;
        
        }

    .detailsimgandbtn img {
        margin-left: 0;
        width: 100%;
        height: auto;
        
    }

    .btns {
        flex-direction: column;
        gap: 20px;
    }

    .relatedproduct {
        gap: 20px;
    }

    .cartcontainer1 {
        width: 90%;
    }
}
